---
title: The Smith-Vidaurre (BIRDS) Lab
layout: splash
permalink: /
header:
    overlay_color: "#000"
    overlay_filter: "0.01"
    overlay_image: /assets/images/TAN_1993.JPG
    caption: "@Tania Molina"
excerpt: "Department of Integrative Biology<br>Department of Computational Mathematics, Science and Engineering<br>Michigan State University"
---

<div>
<h2>About the lab</h2>
  <div>
  <p>The Smith-Vidaurre Lab, or the Behavior IntegRated with Data Science (BIRDS) Lab, works on the functions of socially learned vocalizations and the early-life sensitivity of vocal learning. We also develop computational pipelines and new tools to collect and analyze data. The lab is led by <a href="https://smith-vidaurre.com">Grace Smith-Vidaurre</a>, Assistant Professor and 1855 Professor of Data Science at Michigan State University in the <a href="https://integrativebiology.natsci.msu.edu/">Department of Integrative Biology</a>, the <a href="https://cmse.msu.edu/">Department of Computational Mathematics, Science, and Engineering</a>, and the <a href="https://eeb.msu.edu/">Ecology, Evolution, and Behavior Program</a>. </p>

  <p>We focus on how animals use socially learned vocalizations. This research is primarily driven by questions about how animals encode and perceive information about individual identity and social affiliations in learned vocal signals. We use avian study systems for this research, primarily parrots and songbirds, although we use simulation approaches as well. The main study species for this line of research are monk parakeets (<em>Myiopsitta monachus</em>) and zebra finches (<em>Taeniopygia guttata</em>). Our goals are to gain new insights into the diversity of information that animals communicate through vocal signals and how information encoding in learned vocalizations can change over short evolutionary timescales.</p>

  <p>We also address how early social experiences may impact the information that animals encode in learned vocalizations, and the specialized brain regions necessary to produce learned vocal signals. In this research, we focus on parental care behavior as a critical source of variation that can shape individuals' early social lives. We use zebra finches for this research, which have been an important model system for the neurogenetic mechanisms underlying vocal production learning and auditory perception of vocal signals. Our goals include contributing to a broader understanding of how the brain regions important for a specialized form of social learning may be responsive to early experiences.</p>

<p>Across these lines of research, we integrate data science approaches to develop and test new hardware and software tools, which are generally focused on collecting and analyzing data.</p>

  In the Smith-Vidaurre (BIRDS) Lab, we are scientists who work together as a collaborative team to achieve our goals. We come from different cultural, ethnic, socioeconomic, and scientific backgrounds. We recognize that each lab member has unique intersectional identities and lived experiences that shape their scientific perspectives, interests, and career goals. We are committed to making the lab an inclusive space for a diverse researchers from underrepresented groups and historically excluded backgrounds. This includes people of color, 2SLGBTQIA+, disabled people, caregivers, first-generation degree holders, and others.
  </div>
</div>

<div>
<h2>Lab News</h2>
<ul>
  {% for event in site.data.events %}
  <li>
    {% if event.date%}
      <b>{{event.date}} - </b>
    {% endif %}
    {{event.description}}
  </li>
  {% endfor %}
</ul>
</div>

<div>
<h2>Resources</h2>
<body>The Larremore Lab website <a href="https://github.com/LarremoreLab/LarremoreLab.github.io/tree/master">repo</a> was a useful guide for website layout and configuration.</body>
</div>
